body {
  background-color: #e6e6e6;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1em;
}

h1 {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
  color: rgb(92, 92, 92);
}

.container {
  padding: 40px;
  line-height: 25px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: -1px 4px 24px -1px rgba(0,0,0,0.75);
}

dl {
  background-color: white;
}

.intructions-section {
  margin-top: 30px;
  margin-bottom: 20px;
}

.github-ribbon img {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  border: 0;
}

button {
 display:inline-block;
 cursor: pointer;
 padding: 0.5em 1.5em;
 margin: 0 0.3em 0.3em 0;
 border-radius: 0.2em;
 box-sizing: border-box;
 text-decoration: none;
 font-weight: 400;
 color:#FFFFFF;
 background-color:#11379e;
 text-align: center;
 position: relative;

  &:hover {
    background-color:#4069da;
  }
}